@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* General reset */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	/* Primary */
	--soft-red: hsl(10, 79%, 65%);
	--cyan: hsl(186, 34%, 60%);

	/*  Neutral */
	--soft-red-gradient: #ff9b86;
	--cyan-gradient: #b4e0e5;
	--dark-brown: hsl(25, 47%, 15%);
	--medium-brown: hsl(28, 10%, 53%);
	--cream: hsl(27, 66%, 92%);
	--very-pale-orange: hsl(33, 100%, 98%);
}

body {
	font-size: 1.8rem;
	font-weight: 400;
	font-family: 'DM Sans', Sans-Serif;
	line-height: 1.5;
	min-height: 100svh;
	padding: 0 2.4rem;
	background-color: var(--cream);
}

.chart {
	max-width: 54rem;
	margin: 5% auto;
}

.chart__header {
	color: var(--very-pale-orange);
	padding: 1.5rem 3rem;
	border-radius: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--soft-red);
}

.header__balance {
	font-size: 3.2rem;
	font-weight: 700;
}

.logo {
	max-width: 100%;
}

.chart__stats {
	padding: 3rem;
	margin-top: 2.5rem;
	border-radius: 1.5rem;
	background-color: var(--very-pale-orange);
}

.stats-title {
	max-width: 35rem;
	font-size: 3.2rem;
	font-weight: 700;
	color: var(--dark-brown);
	margin-bottom: 6rem;
}

.chart-details {
	max-width: 46.5rem;
	min-width: 100%;
	font-size: 1.5rem;
	text-align: center;
	color: var(--medium-brown);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.chart-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;
}

.chart__price {
	width: 6.5rem;
	min-width: 100%;
	font-weight: 700;
	padding: 0.5rem 0.8rem;
	border-radius: 0.4rem;
	color: var(--very-pale-orange);
	background-color: var(--dark-brown);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in;
}

.price {
	opacity: 1;
	visibility: visible;
}

.chart__size {
	width: 5.36rem;
	border-radius: 0.6rem;
	background-color: var(--soft-red);
	align-self: center;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.chart__size:not(.wed):hover {
	background-color: var(--soft-red-gradient);
}

.mon {
	height: 5rem;
}

.tue {
	height: 10rem;
}

.wed {
	height: 16rem;
	background-color: var(--cyan);
}

.wed:hover {
	background-color: var(--cyan-gradient);
}

.thu {
	height: 9rem;
}

.fri {
	height: 6.8rem;
}

.sat {
	height: 12.5rem;
}

.sun {
	height: 7.4rem;
}

.border {
	background-color: var(--cream);
	border: 1px solid var(--cream);
	margin: 3.5rem 0;
}

.chart__summary {
	color: var(--medium-brown);
}

.summary__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5rem;
}

.summary__balance {
	font-size: 4.8rem;
	font-weight: 700;
	line-height: 1.2;
	color: var(--dark-brown);
}

.summary__remark {
	display: flex;
	flex-direction: column;
}

.summary__remark span {
	color: var(--dark-brown);
	font-weight: 700;
	margin-left: auto;
}
